.background{  
    background-image: url(https://cdn.pixabay.com/photo/2020/10/30/16/27/mountain-5699035_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    justify-content: center;
    color: azure;
    text-align: center;
    text-shadow: #535757;
    font-size: 2em;
}

ul#top_nav_menu{
    position:relative;
    display:block;
    widows: 100%;
    height:35px;
    padding:0px;
    margin:0px;
    list-style:none;    
    background-color:#535757;
    overflow:visible;
    line-height:35px;
}
/* css ส่วนของเมนูหลัก */
ul#top_nav_menu li{
    background-color: rgb(23, 26, 23);
    position:relative;
    display:block;
    float:left;
    height:35px;
    padding:0px 15px;
    margin:1px;
    list-style:none;    
    border: 1px doub rgb(245, 246, 247);
    
    
  }
   ul#top_nav_menu li a{
    text-decoration:none;   
    text-transform:uppercase;
    color:silver
  }

/* menubar */

/*ul{
    list-style: none;
}
ul li{
    float: left;
    width: 150px;
    height: 50px;
    background-color: #62768b;
    opacity: 0.7;
    line-height: 50px;
    text-align: center;
    font-size: 1.6rem;
    margin-right: 2.5px;
}
ul li a{
    text-decoration: none;
    color: #ffa07a;
    display: block;
}
ul li a:hover{
    background-color: #ffa07a;
    color: #fff;
    cursor: pointer;
}
ul li ul li{
    display: none;
}
ul li:hover ul li{
    display: block;
}*/

/* End menubar */